ACCOUNT1_KEY=
BASE_DEPLOYER_KEY
ACCOUNT2_KEY=
ACCOUNT3_KEY=
ACCOUNT4_KEY=
ALCHEMY_API_KEY=
INFURA_API_KEY=
BASE_PROVIDER_API_KEY=
BASESCAN_API_KEY=
BLOCKSCOUT_BASE_API_KEY=
MANAGED_POOL_CONTROLLER_ADDRESS=
POOL_ID=
